@charset "UTF-8";

/* Declarações gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px black;
    padding: 10px;

}

/* Declarações Retrato */
/* Aparelho em pé (portrait)*/

body {
    background-image: url(../imagens/cev-portrait.jpg);
}

/* Declarações Paisagem */
/* Aparelho deitado (landscape) */

body {
    background-image: url(../imagens/cev-landscape.jpg);
}

/* D */